/**********************************************
/*  CSS for Installation Wizard  **************

/**********************************************
/*
/* NagiosQL
/*
/**********************************************
/*
/* Project  : NagiosQL
/* Component: Installer CSS (core forms)
/* Website  : http://www.nagiosql.org
/* Date     : $LastChangedDate: 2011-03-13 14:00:26 +0100 (So, 13. Mär 2011) $
/* Author   : $LastChangedBy: rouven $
/* Version  : 3.1.1
/* Revision : $LastChangedRevision: 1058 $
/*
/**********************************************/
body {
	padding: 0 10px;
	}
	
p { margin: 10px 0; }
	
.sr {
	position: absolute;
	left: -9999em;
	top: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	}
	