<!-- Version 1.00 -->
<!-- Last modified 11.3.2005 -->
<!-- BEGIN header -->
    <td class="main">
      <h1>{TITLE}</h1>
<!-- END header -->
<!-- BEGIN main -->
{DESC}
<br><br>
<h2>{STATISTICS}</h2>
<table width="300" border="0" class="admintable">
  <tr>
    <th>{TYPE}</th>
    <th style="text-align: center">{ACTIVE}</th>
    <th style="text-align: center">{INACTIVE}</th>
  </tr>
  <tr>
    <td class="tdlb">{CHECK_COMMANDS}</td>
    <td class="tdmb">{ACT_CHECK}</td>
    <td class="tdmb">{INACT_CHECK}</td>
  </tr>
  <tr>
    <td class="tdlb">{MISC_COMMANDS}</td>
    <td class="tdmb">{ACT_MISC}</td>
    <td class="tdmb">{INACT_MISC}</td>
  </tr>
</table>
<br>
<h2>{CONSISTENCY}</h2>
<p><span class="{CHECK_MSGCLASS}">{CONSUSAGE_CHECK}</span><br><span class="greenmessage">{CHECK_FREEDATA}</span></p>
<p><span class="{MISC_MSGCLASS}">{CONSUSAGE_MISC}</span><br><span class="greenmessage">{MISC_FREEDATA}</span></p>
<br>
  	</td>
<!-- END main -->