<!-- Version 1.00 -->
<!-- Last modified 11.3.2005 -->
<!-- BEGIN header -->
    <td class="main">
      <h1>{TITLE}</h1>
<!-- END header -->
<!-- BEGIN main -->
{DESC}
<br><br>
<h2>{STATISTICS}</h2>
<table width="300" border="0" class="admintable">
  <tr>
    <th>{TYPE}</th>
    <th style="text-align: center">{ACTIVE}</th>
    <th style="text-align: center">{INACTIVE}</th>
  </tr>
  <tr>
    <td class="tdlb">{CONTACTS}</td>
    <td class="tdmb">{ACT_CONT}</td>
    <td class="tdmb">{INACT_CONT}</td>
  </tr>
  <tr>
    <td class="tdlb">{CONTGROUPS}</td>
    <td class="tdmb">{ACT_CGROUP}</td>
    <td class="tdmb">{INACT_CGROUP}</td>
  </tr>
  <tr>
    <td class="tdlb">{TIMEPERIODS}</td>
    <td class="tdmb">{ACT_TIMEP}</td>
    <td class="tdmb">{INACT_TIMEP}</td>
  </tr>
</table><br>
<h2>{CONSISTENCY}</h2>
<p><span class="{CON_MSGCLASS}">{CONSUSAGE_CONTACTS}</span><br><span class="greenmessage">{CONT_FREEDATA}</span></p>
<p><span class="{CGROUP_MSGCLASS}">{CONSUSAGE_CGROUPS}</span><br><span class="greenmessage">{CGROUP_FREEDATA}</span></p>
<p><span class="{TIMEP_MSGCLASS}">{CONSUSAGE_TIMEP}</span><br><span class="greenmessage">{TIME_FREEDATA}</span></p>
<br>
  	</td>
<!-- END main -->