<!-- Version 2.00.00 -->
<!-- Last modified 12.03.2007 -->
<!-- BEGIN main -->
<td class="main">  <center>
  <h1>{TITLE}</h1>
  <br>
  <p><img src="{IMAGE_PATH}nagiosql_gross.jpg" alt="NagiosQL" width="400" height="80"></p>
  <br>
  <form name="frmPassword" method="post" action="{ACTION_INSERT}">
    <table width="300" border="0" class="inserttable">
      <tr>
        <td>{USERNAME}:</td>
        <td><input type="text" name="tfUsername"></td>
      </tr>
      <tr>
        <td colspan="2"><img src="{IMAGE_PATH}pixel.gif" alt="" width="1" height="5"></td>
      </tr>
      <tr>
        <td>{PASSWORD}:</td>
        <td><input type="password" name="tfPassword"></td>
      </tr>
      <tr>
        <td colspan="2"><img src="{IMAGE_PATH}pixel.gif" alt="" width="1" height="5"></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" name="Submit" value="{LOGIN}"></td>
        </tr>
    </table>
  </form>
  <p><span class="dbmessage">{MESSAGE}</span></p>
  <br>
  <p><a href="http://validator.w3.org/check?uri=referer"><img border="0"
          src="http://www.w3.org/Icons/valid-html401"
          alt="Valid HTML 4.01!" height="31" width="88"></a> 
     <a href="http://jigsaw.w3.org/css-validator/"><img style="border:0;width:88px;height:31px"
          src="http://jigsaw.w3.org/css-validator/images/vcss" 
          alt="Valid CSS!" >
     </a>
  </p>
  </center>
</td>
<!-- END main -->