<!-- Project    : NagiosQL -->
<!-- Component  : admin mainpage template -->
<!-- Website    : http://www.nagiosql.org -->
<!-- Date       : $LastChangedDate: 2010-10-25 15:45:55 +0200 (Mo, 25 Okt 2010) $ -->
<!-- Author     : $LastChangedBy: rouven $ -->
<!-- Version    : 3.0.4 -->
<!-- Revision   : $LastChangedRevision: 827 $ -->
<!-- BEGIN header -->
    <td class="main">
      <h1>{TITLE}</h1>
<!-- END header -->
<!-- BEGIN main -->
      {DESC}
      <br><br>
<!-- BEGIN statistics -->	  
      <h2>{STATISTICS}</h2>
      <table width="300" border="0" class="admintable">
        <tr>
          <th>{TYPE}</th>
          <th style="text-align: center">{ACTIVE}</th>
          <th style="text-align: center">{INACTIVE}</th>
        </tr>
<!-- BEGIN statisticrow -->	
        <tr>
          <td class="tdlb">{NAME}</td>
          <td class="tdmb">{ACT_COUNT}</td>
          <td class="tdmb">{INACT_COUNT}</td>
        </tr>
<!-- END statisticrow -->	
      </table>
<!-- END statistics -->	
  	</td>
<!-- END main -->
