<!-- Version 2.00.00 -->
<!-- Last modified 12.03.2007 -->
<!-- BEGIN header -->
    <td class="main">
      <h1>{TITLE}</h1>
<!-- END header -->
<!-- BEGIN main -->
      {DESC}
      <br><br>
<!-- BEGIN statistics -->	  
      <h2>{STATISTICS}</h2>
      <table width="300" border="0" class="admintable">
        <tr>
          <th>{TYPE}</th>
          <th style="text-align: center">{ACTIVE}</th>
          <th style="text-align: center">{INACTIVE}</th>
        </tr>
<!-- BEGIN statisticrow -->	
        <tr>
          <td class="tdlb">{NAME}</td>
          <td class="tdmb">{ACT_COUNT}</td>
          <td class="tdmb">{INACT_COUNT}</td>
        </tr>
<!-- END statisticrow -->	
      </table>
<!-- END statistics -->	
  	</td>
<!-- END main -->