<!-- Version 1.00 -->
<!-- Last modified 11.3.2005 -->
<!-- BEGIN header -->
    <td class="main">
      <h1>{TITLE}</h1>
<!-- END header -->
<!-- BEGIN main -->
{DESC}
<br><br>
<h2>{STATISTICS}</h2>
<table width="300" border="0" class="admintable">
  <tr>
    <th>{TYPE}</th>
    <th style="text-align: center">{ACTIVE}</th>
    <th style="text-align: center">{INACTIVE}</th>
  </tr>
  <tr>
    <td class="tdlb">{HOST_DEP}</td>
    <td class="tdmb">{ACT_HD}</td>
    <td class="tdmb">{INACT_HD}</td>
  </tr>
  <tr>
    <td class="tdlb">{HOST_ESC}</td>
    <td class="tdmb">{ACT_HE}</td>
    <td class="tdmb">{INACT_HE}</td>
  </tr>
  <tr>
    <td class="tdlb">{HOST_ADDON}</td>
    <td class="tdmb">{ACT_HA}</td>
    <td class="tdmb">{INACT_HA}</td>
  </tr>
  <tr>
    <td class="tdlb">{SERV_DEP}</td>
    <td class="tdmb">{ACT_SD}</td>
    <td class="tdmb">{INACT_SD}</td>
  </tr>
  <tr>
    <td class="tdlb">{SERV_ESC}</td>
    <td class="tdmb">{ACT_SE}</td>
    <td class="tdmb">{INACT_SE}</td>
  </tr>
  <tr>
    <td class="tdlb">{SERV_ADDON}</td>
    <td class="tdmb">{ACT_SA}</td>
    <td class="tdmb">{INACT_SA}</td>
  </tr>
</table>
<br>
  	</td>
<!-- END main -->