<!-- Project    : NagiosQL -->
<!-- Component  : index template -->
<!-- Website    : http://www.nagiosql.org -->
<!-- Date       : $LastChangedDate: 2010-10-25 15:45:55 +0200 (Mo, 25 Okt 2010) $ -->
<!-- Author     : $LastChangedBy: rouven $ -->
<!-- Version    : 3.0.4 -->
<!-- Revision   : $LastChangedRevision: 827 $ -->
<!-- BEGIN main -->
<td class="main">
	<div id="login">
		<p><img src="{IMAGE_PATH}nagiosql_logo.png" alt="NagiosQL"></p>
						<h1 style="text-align:center">{TITLE_LOGIN}</h1>
		<div id="login-form">
			<form name="frmPassword" method="post" action="{ACTION_INSERT}">
			<table align="center">
				<tr>
					<td>{USERNAME}:</td>
					<td><input type="text" name="tfUsername"></td>
				</tr><tr>
					<td>{PASSWORD}</td>
					<td><input type="password" name="tfPassword"></td>
				</tr><tr>
					<td>&nbsp;</td>
					<td><input type="submit" name="Submit" value="{LOGIN}"></td>
				</tr>
			</table>
			</form>
		</div>
		<div class="dbmessage"><p>{MESSAGE}</p></div>
		<div id="login-text">
			<p>{LOGIN_TEXT}</p>
		</div>
	</div>
</td>
<!-- END main -->